body {
  font-family: Arial, sans-serif;
  font-size: 200%;
}

.op {
  /* left: 500px; */
  position: relative;
  display: flex;
  background-color: #262626;
  text-color: #FFFFFF;
}

.number {
  position: relative;
  display: flex;
  flex-align: center;
  background-color: #FFFFFF;
  text-color: #023E8A;
}

.t {
  position: relative;
  display: flex;
  background-color: #FFFFFF;
  text-color: #023E8A;
}

.button {
  padding: 10px 10px 10px 10px;
  box-shadow: 3px 4px 5px #000000;
}
.button:hover {
  box-shadow: 0px 0px 0px;
}
