body {
  font-family: Arial, sans-serif;
  font-size: 200%;
}

.number, .t, .op, .oplast {
  padding: 10px;
  box-shadow: 3px 4px 5px #000000;
  position: relative;
  display: flex;
  background-color: #FFFFFF;
  color: #023E8A;
  border-radius: 2px;
}

.number:hover, .t:hover, .op:hover, .oplast:hover {
  box-shadow: 0;
}

.op, .oplast {
  top: -500px;
  left: 500px;
  background-color: #262626;
  color: #FFFFFF;
}
